footer.footer
    .container
        .footer__context
            +logo(true)
            .footer__copy-right
                    != '&copy; '
                    span.footer__copy-right-number 69
                    != ' - 2018'
            +socials()