@import "./../../common/constants";

.about-main {
    position: relative;
    z-index: 1;
    padding: 100px 0 50px;

    @media (min-width: map_get($MEDIA, SM)) {
        padding: 174px 0 144px;
    }

    @media (min-width: map_get($MEDIA, LG)) {
        padding: 174px 0 81px;
    }
}