mixin about-main()
    .about-main
        .container.container_middle
            +title-1('About us')
            +animation-description('We are a design and development company based in Minsk.')
            +animation-description('We convert marketing strategies into visually stunning digital services.')

