@import "./../../common/constants";

.animation-description {

    opacity: 0;
    animation: show-description 1s 3.5s ease-out;
    animation-fill-mode: forwards;

    span {
        display: inline-block;
        font-size: 35px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        color: $WHITE;
        text-transform: uppercase;
        line-height: 1.17;
        cursor: pointer;
        transition: all .4s;

        @media (min-width: map_get($MEDIA, SM)) {
            font-size: 52px;
            line-height: 1.06;
        }

        &:hover {
            color: $RED;
            transform: translateY(-15px);
        }
    }

    p {
        display: inline-block;
    }

    &:last-child {
        p {
            &:last-child {
                span:last-child {
                    color: $RED;
                }
            }
        }
    }
}

@keyframes show-description {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

