@import "./../../common/constants";

.main {
    position: relative;
    height: 100vh;

    @media (min-width: map_get($MEDIA, SM)) {
        height: 100vh;
    }

    @media (min-width: map_get($MEDIA, HD)) {
        height: 100vh;
    }

    @media (min-width: map_get($MEDIA, XHD)) {
        height: 100vh;
    }

    &_hide {
        display: none;
    }

    &__video-sorce{

        min-width: 330%;

        @media (min-width: map_get($MEDIA, SM)) {
            min-width: 250%;
        }

        @media (min-width: map_get($MEDIA, MD)) {
            min-width: 150%;
        }

        @media (min-width: map_get($MEDIA, LG)) {
            min-width: 130%;
        }

        @media (min-width: map_get($MEDIA, HD)) {
            min-width: 100%;
        }

        /* Setting width & height to auto prevents the browser from stretching or squishing the video */
        width: auto;
        height: auto;

        /* Center the video */
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__slogan {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: center;

        @media (min-width: map_get($MEDIA, SM)) {
            height: 100%;
        }

        &_first {
            &::before {
                transform: scale(0);
                transform-origin: right top;
                animation: scale-start-animation .6s 2.75s ease-out;
                animation-fill-mode: forwards;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 155px;
            right: 89px;
            width: 93px;
            height: 93px;
            border-right: 2px solid $RED;
            border-top: 2px solid $RED;
            display: none;

            @media (min-width: map_get($MEDIA, MD)) {
                display: block;
            }
        }
    }

    &__title {
        color: $WHITE;
        font-size: 70px;
        line-height: 70px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;

        @media (min-width: map_get($MEDIA, SM)) {
            font-size: 127px;
            line-height: 116px;
            width: 500px;
            margin-bottom: 1.5rem;
        }
    }

    &__title-word {
        display: block;
        opacity: 0;
        animation: show-words 1s .6s ease-out;
        animation-fill-mode: forwards;

        @include aa-delay(1);
        @include aa-delay(2);
        @include aa-delay(3);

        @media (max-width: map_get($MEDIA, SM)) and (orientation: landscape) {
            &:nth-child(1), &:nth-child(2) {
                display: inline-block;
                margin-right: 1rem;
            }
        }
    }

    &__title-word-romb {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: $RED;
        margin-left: .5rem;
        transform: translateY(-6px) rotate(45deg);
        opacity: 0;
        animation: romb-start-animation .5s 3.5s ease-out;
        animation-fill-mode: forwards;

        @media (min-width: map_get($MEDIA, MD)) {
            width: 28px;
            height: 28px;
            margin-left: .5rem;
        }
    }

    &__subtitle {
        color: $WHITE;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;

        &_first {
            opacity: 0;
            animation: left-start-animation .6s 2.75s ease-out;
            animation-fill-mode: forwards;
        }

        @media (min-width: map_get($MEDIA, SM)) {
            font-size: 20px;
            line-height: 28px;
        }
    }

    &__content {
        position: relative;
        display: flex;
        padding-bottom: 1.5rem;
        justify-content: space-between;

        @media (min-width: map_get($MEDIA, SM)) {
            padding-bottom: 2rem;
        }

        @media (max-width: map_get($MEDIA, SM)) and (orientation: landscape) {
            padding-bottom: 1.5rem;
        }
    }

    &__video {
        position: relative;
        z-index: 1;
        align-self: flex-end;

        &_first {
            opacity: 0;
            animation: left-start-animation .3s 2.75s ease-out;
            animation-fill-mode: forwards;
        }
    }

    &__video-link {
        font-size: 12px;
        font-weight: 500;
        color: $WHITE;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        &::after {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            margin-top: .5rem;
            background: url("./../../images/icons/ic-play-button.svg");
            background-size: cover;
        }
    }

    &__down-icon {
        position: relative;
        height: 33px;
        width: 27px;
        display: inline-block;
        animation: down-shake 1s infinite;
        align-self: flex-end;

        @media (min-width: map_get($MEDIA, HD)) {
            display: none;
        }
    }
}

@keyframes down-shake {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
}

@keyframes show-words {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

