header.header.header_top.header_hide
    .container.header__content
        +logo(true, true)
        +menu(true, false, true)
        +lang(true, true)
    .header__slide-menu
        .header_top
            .container.header__content
                +logo(false, false)
                +menu(false, true)
                +lang(false)
        .menu__content
            .menu__inner.container
                ul.menu__items
                    li.menu__item(data-num="01")
                        a(href="#") Home
                    li.menu__item.menu__item_active(data-num="02")
                        a(href="#") Team
                    li.menu__item(data-num="03")
                        a(href="#") Services
                    li.menu__item(data-num="04")
                        a(href="#") Contact
                    li.menu__item(data-num="05")
                        a(href="#") Project
                .contacts
                    .contacts__cart
                        h4.contacts__cart-title Contacts
                        p.contacts__cart-text.contacts__cart-text_email hello@69px.by
                        p.contacts__cart-text +375 (44) 776-90-69
                    .contacts__cart
                        h4.contacts__cart-title Location
                        p.contacts__cart-text 16 Oktyabr'skaya str., Minsk
                    .contacts__cart.contacts__cart_empty
                        +socials('socials_small', true)