@import "./../../common/constants";

.header {

    &_hide{
        display: none;
    }

    &_top{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $HEIGHT_HEADER;
        color: $WHITE;
        z-index: 100;
        background-color: transparent;
        transition: all .6s ;
    }

    @media (min-width: map_get($MEDIA, SM)) {
        height: $HEIGHT_HEADER;

    }

    &_fixed {
        position: fixed;
        background-color: $BLACK;
    }

    &__content{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__slide-menu{
        display: none;
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $GRAY_200;

        .header_top{
            background-color: $GRAY_200;
        }
    }
}

