.app.app_hide
    include ./../header/header
    include ./../section-main/main
    include ./../section-what-we-do/we-do
    include ./../section-projects/projects
    include ./../section-trust-us/trust-us
    include ./../section-paralax-window/paralax-window
    include ./../section-get-tuch/get-tuch
    include ./../navigation/navigation
    include ./../footer/footer
