@import "./../../common/constants";

.contacts {

    align-self: center;

    @media (min-width: map_get($MEDIA, SM)) {
        max-width: 200px;
    }

    &_mobile_hide {
        display: none;

        @media (min-width: map_get($MEDIA, SM)) {
            display: block;
        }

        .contacts__cart {
            opacity: 0;
            animation: showing .4s ease-out;
            animation-fill-mode: forwards;
            @include a-delay(1);
            @include a-delay(2);
            @include a-delay(3);
        }
    }

    &_light {
        .contacts__cart-title {
            color: $WHITE_07;
        }
        .contacts__cart-text {
            color: $WHITE;
        }
    }

    &__cart {
        margin-bottom: 4rem;

        &:last-child {
            margin-bottom: initial;
        }
    }

    &__cart-title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 1rem;
        color: $GRAY_07;

    }

    &__cart-text {
        font-size: 20px;
        color: $BLACK;
        font-weight: 500;
        line-height: 26px;

        &_email {
            &::after {
                content: '';
                width: 28px;
                height: 28px;
                margin-left: 4px;
                display: inline-block;
                background: url("./../../images/icons/victory.svg") no-repeat;
                background-size: cover;
            }
        }
    }
}

