mixin team()
    .team
        .container.container_middle
            .team__title
                +title-2('Team', 'Everyone Matters')
        .container
            .team__list
                .team__item
                    +user(require('./../images/team/a0.jpg'), 'Alexey Bavdey', 'CEO, Art-director', 'http://linkedin.com')
                .team__item
                    +user(require('./../images/team/a0.jpg'), 'Alexey Bavdey', 'CEO, Art-director', 'http://linkedin.com', 'http://facebook.com')
                .team__item
                    +user(require('./../images/team/a0.jpg'), 'Alexey Bavdey', 'CEO, Art-director', 'http://linkedin.com')
                .team__item
                    +user(require('./../images/team/a0.jpg'), 'Alexey Bavdey', 'CEO, Art-director', 'http://linkedin.com', 'http://facebook.com')
                .team__item
                    +user(require('./../images/team/a0.jpg'), 'Alexey Bavdey', 'CEO, Art-director', 'http://linkedin.com')
                .team__item
                    +user(require('./../images/team/a0.jpg'), 'Alexey Bavdey', 'CEO, Art-director', 'http://linkedin.com', 'http://facebook.com')
                .team__item
                    +user(require('./../images/team/a0.jpg'), 'Alexey Bavdey', 'CEO, Art-director', 'http://linkedin.com', 'http://facebook.com')
                .team__item
                    +user(require('./../images/team/a0.jpg'), 'Alexey Bavdey', 'CEO, Art-director', 'http://linkedin.com')
