@import "./../../common/constants";

.team {
    padding: 127px 0 114px;

    @media (min-width: map_get($MEDIA, SM)) {
        padding: 94px 0 100px;
    }

    @media (min-width: map_get($MEDIA, LG)) {
        padding: 140px 0 100px;
    }

    &__title {
        margin-bottom: 120px;

        @media (min-width: map_get($MEDIA, SM)) {
            margin-bottom: 112px;
        }

        @media (min-width: map_get($MEDIA, LG)) {
            margin-bottom: 124px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        max-width: initial;
        margin: 0 -32px;
        opacity: 0;
        transition: all .8s;
        transform: translateY(-32px);

        @media (min-width: map_get($MEDIA, SM)) {
            margin: 0 -20px;
        }

        @media (min-width: map_get($MEDIA, MD)) {
            margin: 0 -32px;
        }

        &_show {
            opacity: 1;
            transform: translateY(0);
        }

    }

    &__item {
        color: $WHITE;
        max-width: 100%;
        flex: 1 0 100%;
        padding: 0 32px 97px;

        &:nth-child(2n) {
            .user {
                float: right;
            }
        }

        @media (max-width: map_get($MEDIA, SM) - 1) {
            &:nth-child(2n-1 ) {
                .user__date {
                    transform: translate(70px, 30px);
                }
            }

            &:nth-child(2n ) {
                .user__date {
                    transform: translate(-30px, 30px);
                }
            }
        }

        @media (min-width: map_get($MEDIA, SM)) {
            padding: 0 20px 97px;
            max-width: 33.333%;
            flex: 1 0 33.333%;

            &:nth-child(2n) {
                .user {
                    float: initial;
                }
            }

            &:nth-child(3n-1) {
                transform: translateY(70px);
            }

            &:nth-child(3n) {
                transform: translateY(140px);
            }
        }

        @media (min-width: map_get($MEDIA, MD)) {
            padding: 0 32px 140px;

            &:nth-child(3n-1) {
                transform: translateY(100px);
            }

            &:nth-child(3n) {
                transform: translateY(200px);
            }
        }

    }
}