.get-tuch
    .container.container_small
        .get-tuch__title
            +title-2('Let’s get touch', 'Feel free!')
        .get-tuch__row
            .get-tuch__col
                +contactForm()
            .get-tuch__col.get-tuch__contacts
                +contacts(true,false)