@import "./../../common/constants";

.get-tuch {
    position: relative;
    background-color: $BLACK;
    padding: 50px 0 65px;

    @media (min-width: map_get($MEDIA, SM)) {
        padding: 100px 0;
    }

    &__title {
        color: $WHITE;
        display: inline-block;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 67px;
        font-weight: bold;
        width: 80%;
        margin-bottom: 84px;
        position: relative;
        opacity: 0;
        transform: translateX(-200px);
        transition: all 1.5s ease-out;

        @media (min-width: map_get($MEDIA, SM)) {
            width: initial;
            margin-bottom: 108px;
        }

        &_show{
            opacity: 1;
            transform: translateX(0);
        }
    }

    &__subtitle {
        position: absolute;
        left: 0;
        bottom: -24px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        line-height: 1.14;
        color: $WHITE;
        opacity: 0;
        transform: translateX(-50px);
        transition: all 2s ease-out;

        @media (min-width: map_get($MEDIA, SM)) {
            bottom: -1rem;
            left: initial;
            right: 0;
        }

        &_show{
            opacity: 1;
            transform: translateX(0);
        }
    }

    &__row{
        display: flex;
        flex-direction: column;

        @media (min-width: map_get($MEDIA, SM)) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__col{
        &:first-child{
            flex: 1 0 auto;
            margin-bottom: 67px;

            @media (min-width: map_get($MEDIA, SM)) {
                max-width: 400px;
                margin-right: 65px;
                margin-bottom: initial;
            }
        }
    }
}