.get-tuch
    .container.container_small
        h3.get-tuch__title Let’s get touch
            span.get-tuch__subtitle Feel free!
        .get-tuch__row
            .get-tuch__col
                +contactForm()
            .get-tuch__col
                +contacts(true,false)