@import "./../../common/constants";

.get-tuch {
    position: relative;
    background-color: $BLACK;
    padding: 50px 0 65px;

    @media (min-width: map_get($MEDIA, SM)) {
        padding: 100px 0;
    }

    &__title{
        margin-bottom: 80px;
        @media (min-width: map_get($MEDIA, SM)) {
            margin-bottom: 108px;
        }
    }

    &__row{
        display: flex;
        flex-direction: column;

        @media (min-width: map_get($MEDIA, SM)) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__col{
        &:first-child{
            flex: 1 0 auto;
            margin-bottom: 67px;

            @media (min-width: map_get($MEDIA, SM)) {
                max-width: 400px;
                margin-right: 65px;
                margin-bottom: initial;
            }
        }
    }

    &__contacts{
        opacity: 0;
        transform: translateX(50px);
        transition: all 1s ease-out;

        &_show{
            opacity: 1;
            transform: translateX(0);
        }
    }
}