//COLOR:
$BLACK: #000000;
$WHITE: #FFFFFF;
$WHITE_05: rgba($WHITE,.5);
$GRAY_100: #f1f1f1;
$GRAY: #292929;
$RED: #ea1e25;

//SIZE:
$MAX-WIDTH: 940px;
$HEIGHT_HEADER: 70px;

//MEDIA:
$MEDIA: (
        SM:768px,
        MD:1024px,
        LG:1280px,
        XL:1366px,
        XLL:1440px,
        HD:1920px,
        XHD:2560px
);

//MIXINS