include ./../mixins
include ./../components/head
body
    include ./../components/loader/loader
    .app.app_hide
        include ./../components/header/header
        //    contacts
        include ./../components/section-get-tuch/get-tuch
        include ./../components/navigation/navigation
        include ./../components/footer/footer


