include ./../mixins
include ./../components/head
body.body_light
    include ./../components/loader/loader
    .app.app_hide
        +header(true)
        +contact-main()
        include ./../components/section-get-tuch/get-tuch
        include ./../components/navigation/navigation
        include ./../components/footer/footer


