include ./../mixins
include ./../components/head
body
    include ./../components/loader/loader
    .app.app_hide
        include ./../components/header/header
        include ./../components/footer/footer

