include ./../mixins
include ./../components/head
body
    include ./../components/loader/loader
    .app.app_hide
        +header()
        +projects-main()
        include ./../components/section-paralax-window/paralax-window
        include ./../components/section-get-tuch/get-tuch
        include ./../components/navigation/navigation
        include ./../components/footer/footer


