mixin contact-main()
    .contact-main
        .container.container_middle
            +title-1('Contact')
            +animation-description('Has our work cau your eye?')
            .contact-main__button
                +button('Let’s have a coffee', true)

