@import "./../../common/constants";

.user {
    position: relative;
    height: 224px;
    width: 60%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


    @media (min-width: map_get($MEDIA, SM)) {
        width: initial;
        max-width: initial;
    }

    @media (min-width: map_get($MEDIA, MD)) {
        height: 370px;
    }

    &:hover {
        .user__image {
            height: 80%;
            &:after {
                background-color: transparent;
            }

            .user__socials {
                opacity: 1;
            }
        }

        .user__lines {

            &_left {

                &:before {

                    height: 70%;
                    background-color: $RED;
                }

                &:after {
                    width: 70%;
                    background-color: $RED;
                }
            }

            &_right {

                &:before {
                    height: 70%;
                    background-color: $RED;
                }

                &:after {
                    width: 70%;
                    background-color: $RED;
                }
            }
        }
    }



    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-position: top center;
        background-repeat: no-repeat;
        z-index: 1;
        padding: 1.5rem;
        transition: all .6s ease-out;
        display: flex;
        align-items: flex-end;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 60%;
            height: 100%;
            background-color: transparent;
            transition: all .6s;

            @media (min-width: map_get($MEDIA, SM)) {
                width: 100%;
            }

            @media (min-width: map_get($MEDIA, LG)) {
                width: 100%;
            }
        }

        @media (min-width: map_get($MEDIA, SM)) {
            width: 100%;
        }

        @media (min-width: map_get($MEDIA, LG)) {
            width: 100%;
        }
    }

    &__date {
        position: relative;
        z-index: 1;
        width: 120%;
        max-width: initial;
        transform: translate(-16px, 30px);

        @media (min-width: map_get($MEDIA, SM)) {
            width: initial;
            max-width: 100%;
            transform: translate(-16px, 32px);
        }

        @media (min-width: map_get($MEDIA, LG)) {
            transform: translate(-20px, 40px);
        }
    }

    &__socials {
        position: relative;
        transition: opacity .6s ease-out;
        opacity: 0;
        z-index: 2;
    }

    &__link {
        display: inline-block;
        color: rgba($WHITE, .4);
        font-size: 14px;
        padding-right: 1rem;

        i {
            transition: all .6s;
        }

        &:hover {
            i {
                transform: scale(1.25);
                color: $WHITE;
            }
        }
    }

    &__name {
        color: $WHITE;
        font-size: 30px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        margin-bottom: 1rem;

        @media (min-width: map_get($MEDIA, SM)) {
            font-size: 32px;
            margin-bottom: .5rem;
        }

        @media (min-width: map_get($MEDIA, LG)) {
            font-size: 40px;
        }
    }

    &__position {
        color: $RED;
        font-size: 14px;

        @media (min-width: map_get($MEDIA, LG)) {
            font-size: 18px;
        }
    }

    &__lines {

        &_left {

            &:before, &:after {
                content: '';
                position: absolute;
                transition: all .6s;
                background-color: transparent;
            }

            &:before {
                bottom: 0;
                left: 0;
                width: 3px;
                height: 0;
            }

            &:after {
                bottom: 0;
                left: 0;
                width: 0;
                height: 3px;
            }
        }

        &_right {

            &:before, &:after {
                content: '';
                position: absolute;
                transition: all .6s;
                background-color: transparent;
            }

            &:before {
                top: 0;
                right: 0;
                width: 3px;
                height: 0;
            }

            &:after {
                top: 0;
                right: 0;
                width: 0;
                height: 3px;
            }
        }
    }
}