mixin contacts(isLight, isSocialExists, isMobHide)
    - var color = isLight ? 'contacts_light' : '';
    - var isMobileMod = isMobHide ? 'contacts_mobile_hide' : '';
    div(class=`contacts ${color} ${isMobileMod}`)
        .contacts__cart
            h4.contacts__cart-title Contacts
            p.contacts__cart-text.contacts__cart-text_email hello@69px.by
            p.contacts__cart-text +375 (44) 776-90-69
        .contacts__cart
            h4.contacts__cart-title Location
            p.contacts__cart-text 16 Oktyabr'skaya str., Minsk
        - if (isSocialExists)
            .contacts__cart.contacts__cart_empty
                +socials('socials_small', true)
